# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Local
node_modules/
dist/
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary
*.tmp
*.temp
start.bat
server.js
student.json
template_student.json
hatali_sorular.json
hatalı/
tools/
